/* Banner */

.banner {
	color: white;
	padding: 30px 0;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
	margin: 10px 0px;
}

.banner p {
	font-size: 20px;
	font-weight: lighter;
	/* opacity: 0.8; */
	margin: 10px 0px 10px 0px;

}
