<h1 id="list-all-activities">Activities</h1>

<h2>List all activities</h2>

<p>
  By default, this endpoint retrieves all the activities.
  <br>
  Activities can be filtered by city, category or name.
</p>

<p>
  Things to consider:
</p>

<ul>
  <li>
    Activities are <strong>sorted</strong> by alphabetical order.
  </li>
  <li>
    There is <strong>no pagination</strong>.
  </li>
</ul>

<h3>Endpoint</h3>

<code>GET /v2/activities</code>

<h3>Parameters</h3>

<p>Use them to filter out the results.</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Filter</th>
      <th>Optional</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>city</code></td>
      <td>true</td>
      <td>
        When provided, it returns only the activities matching the given city name.
        <br>
        You can try it out with <code>Nantes</code> and <code>Paris</code>
      </td>
    </tr>
    <tr>
      <td><code>category</code></td>
      <td>true</td>
      <td>
        <p>
          When provided, it returns only the activities matching the given category.
        </p>
        <p>
          Available categories:
        </p>
        <ul>
          <li><code>Adventure</code></li>
          <li><code>Cultural</code></li>
          <li><code>Food</code></li>
          <li><code>Sport</code></li>
          <li><code>Visits</code></li>
          <li><code>Workshops</code></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><code>name</code></td>
      <td>true</td>
      <td>
        When provided, it returns only the activities which name contains the given value.
        <br>
        Note that it is <strong>case insensitive</strong>.
      </td>
    </tr>
  </tbody>
</table>

<aside class="notice">Note that you can combine the filters.</aside>

<h3>Request example</h3>

<code>curl "/v2/activities?city=Nantes"</code>

<h3>Response example</h3>

<pre><code>{
  "activities": [
    {
      "id": 25,
      "name": "Alternative tour of Nantes",
      "category": "Visits",
      "city": "Nantes",
      "duration": 40,
      "participants_count": 8,
      "price": 100,
      "photo_url": "https://www.voyage-insolite.com/files/2016/07/la-grand-%C3%A9l%C3%A9phant-nantes.jpg"
    },
    {
      "id": 13,
      "name": "High ropes - Acrocime",
      "category": "Adventure",
      "city": "Nantes",
      "duration": 120,
      "participants_count": 18,
      "price": 342,
      "photo_url": "http://rdvludique.fr/wp-content/uploads/2016/03/Parcours-et-plateforme-4.jpg"
    }
  ]
}</code></pre>

<hr>

<h2 id="get-activity-details">Get activity details</h2>

<p>
  This endpoint retrieves the details of one specific activity.
</p>

<h3>Endpoint</h3>

<code>GET /v2/activities/:id</code>

<h3>Parameters</h3>

<p>No expected parameters for this endpoint.</p>

<h3>Request example</h3>

<code>curl "/v2/activities/13"</code>

<h3>Response example</h3>

<pre><code>{
  "activity": {
    "id": 13,
    "name": "High ropes - Acrocime",
    "category": "Adventure",
    "city": "Nantes",
    "duration": 120,
    "participants_count": 18,
    "price": 342,
    "photo_url": "http://rdvludique.fr/wp-content/uploads/2016/03/Parcours-et-plateforme-4.jpg"
  }
}</code></pre>
