/* Style for activity detail */

.container-activity {
  display: flex;
}

.content-left {
  font-size: 14px;
  width: 600px;
  border: 2px;
  /* background-color: red; */
}

.content-left p {
  padding-right: 30px;
}

.content-right {
  width: 200px;
  border: 2px;
  /* background-color: blue; */
}

.category-detail {
  background-color: green;
  padding: 3px 10px;
  border-radius: 4px;
}

.breadcrumbs {
  color: gray;
  font-size: 12px;
  display: block;
  height: 30px;
  line-height: 30px;
  margin-bottom: -10px;
}

.breadcrumbs:hover {
  text-decoration: underline;
}

.price-box {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 30px;
}

.price-box p {
  margin: 5px 0px;
}

.price-detail {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #525f7f;
}

.participants-detail {
  text-align: center;
  font-size: 14px;
  color: #525f7f;

}

.city-detail {
  padding: 0px 10px;
  font-size: 16px;

}

.duration-detail {
  padding: 0px 10px;
  font-size: 16px;

}

.btn {
  padding: 10px 15px;
  border-radius: 4px;
  display: block;
  text-align: center;
  margin: 10px 10px;
  font-size: 14px;
}

.btn:hover {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);

}

.btn-book {
  background-color: #6772e5;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);

}

.btn-info {
  background-color: white;
  color: #6772e5;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);

}

.btn-wishlist {
  background-color: white;
  color: #EE6F6F;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);

}

.quote {
  font-size: 18px;
  color: rgb(100,100,100);
  font-style: italic;
  padding-left: 20px;
  margin: 0px 0px 30px 0px;
  line-height: 16px;

}

.quote::before {
  content:"«";
  font-size: 4em;
  color: lightgray;
  line-height: 12px;
}

.quote::after {
  content:"»";
  vertical-align: -0.3em;
  font-size: 4em;
  color: lightgray;

}
