<h1>Introduction</h1>

<p>
  Welcome to the Team Building API.
  You can use the API endpoints to list, search activities and much more (to come!).
</p>

<h2>Format</h2>

For both request and response payloads, the format we use in our API is <code>JSON</code>.

<h2>Version</h2>

<p>
  You must always specify the version of the API you're requesting.
  <br>
  To do so, provide the version within the URL endpoint.
</p>

<p>
  For instance: <code>/v1/activities</code>
</p>
