body {
  background-color: #f8f8f8;
  color: #2b2b28;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 38px;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0px;

}

h2 {
  font-size: 40px;
  font-weight: bold;
}

a {
  color:grey;
  text-decoration: none;
  font-weight: bolder;
}

/* Custom design with class */

.container {
  width: 700px;
  margin: 40px auto;
  text-align: center;
}

@media (max-width: 750px) {
  .container {
    width: 560px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 420px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 280px;
  }
}

@media (max-width: 250px) {
  .container {
    width: 140px;
  }
}

.header p {
  font-size: 20px;
  font-style: italic;
  color: darkgray;
  font-weight: lighter;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.daycard {
  /* display: flex; */
  /* flex-basis: 140px; */
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 0px;
  align-items: center;
  vertical-align: middle;
  /* justify-content: space-between; */
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}

.daycard:hover {
  background-color: #2b2b28;
}

.daycard h2 {
  text-align: center;
  margin: 20px;
}

.footer {
  font-size: 12px;
}
