h1 {
  color: red;
  text-align: center;
}
p {
  size: 12px;
}
.block
{
  background: white;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
