<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activity 1</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <div class="banner">
      <div class="container container-head">
        <h1>Visit of Nantes</h1>
        <p>

        </p>


      </div>
    </div>



    </div>


  </body>
</html>
