<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nosifer|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>

  <body>
<!-- header de la page avec nom de l'activité et catégorie -->
    <div class="details_header">
      <h1>Escape game de l'horreur</h1>
      <h2>Le cannibale de Paris</h2>
    </div>

<!-- image de l'activité, en dessous du header -->
    <div class="details_banner">

    </div>

<!-- détail de l'activité, sous forme de card -->
    <div>

    </div>




  </body>

  </html>
