<h1>Teams</h1>

<h2 id="list-all-teams">List all teams</h2>

<p>
  This endpoint retrieves all the teams.
</p>

<h3>Endpoint</h3>

<code>GET /v2/teams</code>

<h3>Parameters</h3>

<p>No expected parameters for this endpoint.</p>

<h3>Request example</h3>

<code>curl "/v2/teams"</code>

<h3>Response example</h3>

<pre><code>{
  "teams": [
    {
      "id": 13,
      "name": "Figgo",
    },
    {
      "id": 4,
      "name": "Timmi",
    }
  ]
}</code></pre>
