@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed");

@import url("/components/container.css");
@import url("/components/avatar.css");
@import url("/components/banner.css");
@import url("/components/card.css");
@import url("/components/detail.css");


body {
  font-family: Open Sans;
  font-size: 18px;
  margin:0px;
}

h1, h2, h3 {
  font-family: Roboto Condensed;
  font-weight: bold;
}

a {
  text-decoration: none;

}
/* Add any styling you want */
